{
  "fadeout" : 1,

  "mapping" : {
    //basic piano key index (+20)
    "108" : { "f" : 4186.01, "file" : "/sfx/instruments/$instrument$/c8.ogg" },
    "107" : { "f" : 3951.07, "file" : "/sfx/instruments/$instrument$/b7.ogg" },
    "106" : { "f" : 3729.31, "file" : "/sfx/instruments/$instrument$/as7.ogg" },
    "105" : { "f" : 3520.00, "file" : "/sfx/instruments/$instrument$/a7.ogg" },
    "104" : { "f" : 3322.44, "file" : "/sfx/instruments/$instrument$/gs7.ogg" },
    "103" : { "f" : 3135.96, "file" : "/sfx/instruments/$instrument$/g7.ogg" },
    "102" : { "f" : 2959.96, "file" : "/sfx/instruments/$instrument$/fs7.ogg" },
    "101" : { "f" : 2793.83, "file" : "/sfx/instruments/$instrument$/f7.ogg" },
    "100" : { "f" : 2637.02, "file" : "/sfx/instruments/$instrument$/e7.ogg" },
    "99" : { "f" : 2489.02, "file" : "/sfx/instruments/$instrument$/ds7.ogg" },
    "98" : { "f" : 2349.32, "file" : "/sfx/instruments/$instrument$/d7.ogg" },
    "97" : { "f" : 2217.46, "file" : "/sfx/instruments/$instrument$/cs7.ogg" },
    "96" : { "f" : 2093.00, "file" : "/sfx/instruments/$instrument$/c7.ogg" },
    "95" : { "f" : 1975.53, "file" : "/sfx/instruments/$instrument$/b6.ogg" },
    "94" : { "f" : 1864.66, "file" : "/sfx/instruments/$instrument$/as6.ogg" },
    "93" : { "f" : 1760.00, "file" : "/sfx/instruments/$instrument$/a6.ogg" },
    "92" : { "f" : 1661.22, "file" : "/sfx/instruments/$instrument$/gs6.ogg" },
    "91" : { "f" : 1567.98, "file" : "/sfx/instruments/$instrument$/g6.ogg" },
    "90" : { "f" : 1479.98, "file" : "/sfx/instruments/$instrument$/fs6.ogg" },
    "89" : { "f" : 1396.91, "file" : "/sfx/instruments/$instrument$/f6.ogg" },
    "88" : { "f" : 1318.51, "file" : "/sfx/instruments/$instrument$/e6.ogg" },
    "87" : { "f" : 1244.51, "file" : "/sfx/instruments/$instrument$/ds6.ogg" },
    "86" : { "f" : 1174.66, "file" : "/sfx/instruments/$instrument$/d6.ogg" },
    "85" : { "f" : 1108.73, "file" : "/sfx/instruments/$instrument$/cs6.ogg" },
    "84" : { "f" : 1046.50, "file" : "/sfx/instruments/$instrument$/c6.ogg" },
    "83" : { "f" : 987.767, "file" : "/sfx/instruments/$instrument$/b5.ogg" },
    "82" : { "f" : 932.328, "file" : "/sfx/instruments/$instrument$/as5.ogg" },
    "81" : { "f" : 880.000, "file" : "/sfx/instruments/$instrument$/a5.ogg" },
    "80" : { "f" : 830.609, "file" : "/sfx/instruments/$instrument$/gs5.ogg" },
    "79" : { "f" : 783.991, "file" : "/sfx/instruments/$instrument$/g5.ogg" },
    "78" : { "f" : 739.989, "file" : "/sfx/instruments/$instrument$/fs5.ogg" },
    "77" : { "f" : 698.456, "file" : "/sfx/instruments/$instrument$/f5.ogg" },
    "76" : { "f" : 659.255, "file" : "/sfx/instruments/$instrument$/e5.ogg" },
    "75" : { "f" : 622.254, "file" : "/sfx/instruments/$instrument$/ds5.ogg" },
    "74" : { "f" : 587.330, "file" : "/sfx/instruments/$instrument$/d5.ogg" },
    "73" : { "f" : 554.365, "file" : "/sfx/instruments/$instrument$/cs5.ogg" },
    "72" : { "f" : 523.251, "file" : "/sfx/instruments/$instrument$/c5.ogg" },
    "71" : { "f" : 493.883, "file" : "/sfx/instruments/$instrument$/b4.ogg" },
    "70" : { "f" : 466.164, "file" : "/sfx/instruments/$instrument$/as4.ogg" },
    "69" : { "f" : 440.000, "file" : "/sfx/instruments/$instrument$/a4.ogg" },
    "68" : { "f" : 415.305, "file" : "/sfx/instruments/$instrument$/gs4.ogg" },
    "67" : { "f" : 391.995, "file" : "/sfx/instruments/$instrument$/g4.ogg" },
    "66" : { "f" : 369.994, "file" : "/sfx/instruments/$instrument$/fs4.ogg" },
    "65" : { "f" : 349.228, "file" : "/sfx/instruments/$instrument$/f4.ogg" },
    "64" : { "f" : 329.628, "file" : "/sfx/instruments/$instrument$/e4.ogg" },
    "63" : { "f" : 311.127, "file" : "/sfx/instruments/$instrument$/ds4.ogg" },
    "62" : { "f" : 293.665, "file" : "/sfx/instruments/$instrument$/d4.ogg" },
    "61" : { "f" : 277.183, "file" : "/sfx/instruments/$instrument$/cs4.ogg" },
    "60" : { "f" : 261.626, "file" : "/sfx/instruments/$instrument$/c4.ogg" },
    "59" : { "f" : 246.942, "file" : "/sfx/instruments/$instrument$/b3.ogg" },
    "58" : { "f" : 233.082, "file" : "/sfx/instruments/$instrument$/as3.ogg" },
    "57" : { "f" : 220.000, "file" : "/sfx/instruments/$instrument$/a3.ogg" },
    "56" : { "f" : 207.652, "file" : "/sfx/instruments/$instrument$/gs3.ogg" },
    "55" : { "f" : 195.998, "file" : "/sfx/instruments/$instrument$/g3.ogg" },
    "54" : { "f" : 184.997, "file" : "/sfx/instruments/$instrument$/fs3.ogg" },
    "53" : { "f" : 174.614, "file" : "/sfx/instruments/$instrument$/f3.ogg" },
    "52" : { "f" : 164.814, "file" : "/sfx/instruments/$instrument$/e3.ogg" },
    "51" : { "f" : 155.563, "file" : "/sfx/instruments/$instrument$/ds3.ogg" },
    "50" : { "f" : 146.832, "file" : "/sfx/instruments/$instrument$/d3.ogg" },
    "49" : { "f" : 138.591, "file" : "/sfx/instruments/$instrument$/cs3.ogg" },
    "48" : { "f" : 130.813, "file" : "/sfx/instruments/$instrument$/c3.ogg" },
    "47" : { "f" : 123.471, "file" : "/sfx/instruments/$instrument$/b2.ogg" },
    "46" : { "f" : 116.541, "file" : "/sfx/instruments/$instrument$/as2.ogg" },
    "45" : { "f" : 110.000, "file" : "/sfx/instruments/$instrument$/a2.ogg" },
    "44" : { "f" : 103.826, "file" : "/sfx/instruments/$instrument$/gs2.ogg" },
    "43" : { "f" : 97.9989, "file" : "/sfx/instruments/$instrument$/g2.ogg" },
    "42" : { "f" : 92.4986, "file" : "/sfx/instruments/$instrument$/fs2.ogg" },
    "41" : { "f" : 87.3071, "file" : "/sfx/instruments/$instrument$/f2.ogg" },
    "40" : { "f" : 82.4069, "file" : "/sfx/instruments/$instrument$/e2.ogg" },
    "39" : { "f" : 77.7817, "file" : "/sfx/instruments/$instrument$/ds2.ogg" },
    "38" : { "f" : 73.4162, "file" : "/sfx/instruments/$instrument$/d2.ogg" },
    "37" : { "f" : 69.2957, "file" : "/sfx/instruments/$instrument$/cs2.ogg" },
    "36" : { "f" : 65.4064, "file" : "/sfx/instruments/$instrument$/c2.ogg" },
    "35" : { "f" : 61.7354, "file" : "/sfx/instruments/$instrument$/b1.ogg" },
    "34" : { "f" : 58.2705, "file" : "/sfx/instruments/$instrument$/as1.ogg" },
    "33" : { "f" : 55.0000, "file" : "/sfx/instruments/$instrument$/a1.ogg" },
    "32" : { "f" : 51.9131, "file" : "/sfx/instruments/$instrument$/gs1.ogg" },
    "31" : { "f" : 48.9994, "file" : "/sfx/instruments/$instrument$/g1.ogg" },
    "30" : { "f" : 46.2493, "file" : "/sfx/instruments/$instrument$/fs1.ogg" },
    "29" : { "f" : 43.6535, "file" : "/sfx/instruments/$instrument$/f1.ogg" },
    "28" : { "f" : 41.2034, "file" : "/sfx/instruments/$instrument$/e1.ogg" },
    "27" : { "f" : 38.8909, "file" : "/sfx/instruments/$instrument$/ds1.ogg" },
    "26" : { "f" : 36.7081, "file" : "/sfx/instruments/$instrument$/d1.ogg" },
    "25" : { "f" : 34.6478, "file" : "/sfx/instruments/$instrument$/cs1.ogg" },
    "24" : { "f" : 32.7032, "file" : "/sfx/instruments/$instrument$/c1.ogg" },
    "23" : { "f" : 30.8677, "file" : "/sfx/instruments/$instrument$/b0.ogg" },
    "22" : { "f" : 29.1352, "file" : "/sfx/instruments/$instrument$/as0.ogg" },
    "21" : { "f" : 27.5000, "file" : "/sfx/instruments/$instrument$/a0.ogg" }
  }
}
